<!DOCTYPE html>
<html ng-app="angularWorkshop" ng-cloak>
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= stylesheet_link_tag 'angular_app/application' %>
    <%= javascript_include_tag 'angular_app/application' %>
  </head>
  <body>
    <div class="container">
      <div ui-view></div>
    </div>
  </body>
</html>
