<h2>Event Handling</h2>

<div ng-controller="IntroductionController">
  <div class="form-group">
    <button class="btn btn-default">Toggle Panel</button>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin porta leo eget varius. Etiam euismod vehicula faucibus. Morbi maximus vitae leo eget luctus. Aliquam faucibus mi nec massa dignissim, nec mollis sem convallis. Aliquam erat volutpat. Praesent a risus viverra, iaculis neque ultrices, fringilla odio. Donec quis nulla at orci accumsan pellentesque.</p>
      <p>Pellentesque lorem tellus, rutrum at erat at, fermentum faucibus ante. Vivamus mollis commodo nunc tincidunt bibendum. Sed a luctus urna. Ut leo massa, iaculis id iaculis et, vestibulum a urna. Suspendisse non est id eros mollis dignissim id non leo. Sed pulvinar gravida risus nec semper. Quisque tempus, turpis eget ultrices maximus, nulla mi iaculis risus, et egestas orci enim vitae ipsum.</p>
    </div>
  </div>
</div>
