<h1>Angular Workshop</h1>

<h2>Angular Basics</h2>

<ul>
  <li><a ui-sref="basics.introduction">Introduction to Angular</a></li>
  <li><a ui-sref="basics.two-way">Two-Way Binding</a></li>
  <li><a ui-sref="basics.events">Event Handling</a></li>
  <li><a ui-sref="basics.repetition">Repetition and Filtering</a></li>
</ul>


<h2>The Angular Toolkit</h2>

<ul>
  <li><a ui-sref="framework.dependency-injection">Controllers and Dependency Injection</a></li>
  <li><a ui-sref="framework.services">Keeping Controllers Clean w/Services</a></li>
  <li><a ui-sref="framework.directives">Keeping Views Clean w/Directives</a></li>
  <li><a ui-sref="framework.routing">Routing via UI Router</a></li>
</ul>
